<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.motogymkhana.competition"
    android:versionCode="10"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="MotoGymkhanaApplication"
        android:allowBackup="true"
        android:icon="@drawable/mg_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/mglogo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.motogymkhana.competition.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.motogymkhana.competition.activity.RiderTimesInputActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="eu.motogymkhana.competition.activity.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="eu.motogymkhana.competition.activity.AdminActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="eu.motogymkhana.competition.activity.SelectDateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="eu.motogymkhana.competition.activity.TextActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.RiderNewUpdateActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="roboguice.modules"
            android:value="eu.motogymkhana.competition.robo.GymkhanaModule,eu.motogymkhana.competition.robo.LiveModule"/>
    </application>

</manifest>